#wholepage {
  max-width: 1080px;
  min-height: 1000px;
  margin-left: auto;
  margin-right: auto;
}

*main {
  max-width: 1080px;
  max-height: none;
}

.titleind {
  color: orange;
  background-color: #373F51;
  border-color: #56445D;
  border-width: 10px;
  border-style: solid;
  text-align: center;
  width: 1080px;
  margin: 0 auto;
}

.titleind h1 {
  position: relative;
  right: 425px;
}

body {
  line-height: 1.5;
  height: 4000px;
  max-width: 1080px;
  background: #FFD97D;
  font-family: 'arial', sans-serif;
  font-weight: 400;
  margin: 0 auto;
  }

.container {
  width:80%;
  margin: 0x auto;
}

header {
  width: 1080px;
  margin: 0 auto;
  text-align: center;
  border-color: #56445D;
  border-width: 10px;
  border-style: solid;

  background: #373F51;
  max-height: 220px;
}

header::after{
  content:'';
  display: table;
  clear: both;
}

.logo{
  float:right;
  padding: 10px;
  position: relative;
  left: 210px;
}

nav {
  float: left;
}

nav ul{
  margin: 0;
  padding: 10px;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 20px;
  padding-top: 10px;

  position: relative;
  bottom: 80px;
}

nav a{
  color: #91F291;
  text-decoration: none;
  text-transform: uppercase;
  Font-size: 14px;
}

nav a:hover {
  color: #75DDDD
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #91F291;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 500ms;
}

nav a:hover::before {
  width: 100%;
}

/*Heading for team profile starts here*/
.teamprofile {
  width: 1060px;
  text-align: center;
  color: orange;
  padding: 10px;
  background-color: #373f51;
  border-color: #56445D;
  border-width: 10px;
  border-style: solid;
}

/*Bradleys style sheet section */

#bradprofile a {
  color: #91F291;
  text-decoration: none;
}

#bradprofile a:hover {
  color: #75DDDD;
}

#bradprofile a::before {
  content: '';
  display: block;
  background-color: #91F291;
}

.bradleymain {
  width: 1060px;
  color: orange;
  padding: 10px;
  background-color: #373f51;
  border-color: #56445D;
  border-width: 10px;
  border-style: solid;
}

#brad01 {
  text-align: justify;
  padding: 10px;
  list-style: none;
  margin-left: 100px;
  float: right;
}

#brad02 {
  margin: 5px;
  float: left;

  position: relative;
  bottom: 310px;
}

#bradprofile {
  width: 0 auto;
  text-align: justify;
  position: relative;
  left: 0px;
}

/*had to adjust last list item and link to line up wiht rest of list items*/
#listadjust {
  text-align: justify;
  position: relative;
  right: 60px;
}



/* Lachlans style sheet section*/

#lachprofile a {
  color: #91F291;
  text-decoration: none;
}

#lachprofile a:hover {
  color: #75DDDD;
}

#lachprofile a::before {
  content: '';
  display: block;
  background-color: #91F291;
}

.lachlanmain {
  width: 1060px;
  color: orange;
  padding: 10px;
  background-color: #373f51;
  border-color: #56445D;
  border-width: 10px;
  border-style: solid;
}

#lach01 {
  text-align: justify;
  padding: 10px;
  list-style: none;
  margin-left: 150px;
  float: right;
}

#lach02 {
  margin: 5px;
  float: left;

  position: relative;
  bottom: 355px;
}

#lachprofile {
  width:1020px;
  text-align: justify;
  position: relative;
  left: 15px;
}

/* Nicholas's style sheet section*/

#nichprofile a {
  color: #91F291;
  text-decoration: none;
}

#nichprofile a:hover {
  color: #75DDDD;
}

#nichprofile a::before {
  content: '';
  display: block;
  background-color: #91F291;
}

.nicholasmain {
  width: 1060px;
  color: orange;
  padding: 10px;
  background-color: #373f51;
  border-color: #56445D;
  border-width: 10px;
  border-style: solid;
}

#nich01 {
  text-align: justify;
  padding: 10px;
  list-style: none;
  margin-left: 220px;
  float: right;
}

#nich02 {
  margin: 5px;
  float: left;

  position: relative;
  bottom: 490px;
}

#nichprofile {
  width:1020px;
  text-align: justify;
  position: relative;
  left: 15px;
}

/*Jeremys style sheet section*/

.jeremymain {
  position: relative;
  top: 400px;
}

.jeremymain {
  position: relative;
  top: 300px;
}

#jereprofile a {
  color: #91F291;
  text-decoration: none;
}

#jereprofile a:hover {
  color: #75DDDD;
}

#jereprofile a::before {
  content: '';
  display: block;
  background-color: #91F291;
}

.jeremymain {
  color: orange;
  padding: 10px;
  background-color: #373f51;
  border-color: #56445D;
  border-width: 10px;
  border-style: solid;
}

#jere01 {
  text-align: justify;
  padding: 10px;
  list-style: none;
  margin-left: 100px;
  float: right;
}

#jere02 {
  margin: 5px;
  float: left;

  position: relative;
  bottom: 260px;
}

#jereprofile {
  text-align: justify;
  position: relative;
  right: 100px;
}

/*Jacobs style sheet section*/

.jacobmain {
  position: relative;
  top: 400px;
}



/*Anthonys style sheet section*/

.anthonymain{
  position: relative;
  top: 400px;
}

#anthprofile a {
  color: #91F291;
  text-decoration: none;
}

#anthprofile a:hover {
  color: #75DDDD;
}

#anthprofile a::before {
  content: '';
  display: block;
  background-color: #91F291;
}

.anthonymain {
  color: orange;
  padding: 10px;
  background-color: #373f51;
  border-color: #56445D;
  border-width: 10px;
  border-style: solid;
}

#anth01 {
  text-align: justify;
  padding: 10px;
  list-style: none;
  margin-left: 100px;
  float: right;
}

#anth02 {
  margin: 5px;
  float: left;

  position: relative;
  bottom: 260px;
}

#anthprofile {
  text-align: justify;
  position: relative;
  right: 100px;
}
