#wholepage {
  max-width: 1080px;
  min-height: 1000px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

a {
  color: #91F291;
  text-decoration: none;
}

a:hover {
  color: #75DDDD;
}

a:before {
  content: '';
  display: block;
  background-color: #91F291;
}

*main {
  max-width: 1080px;
  max-height: none;
}

.titleind {
  color: orange;
  background-color: #373F51;
  border-color: #56445D;
  border-width: 10px;
  border-style: solid;
  text-align: center;
  width: 1080px;
  margin: 0 auto;
}

.titleind h1 {
  position: relative;
  right: 425px;
}

body {
  line-height: 1.5;
  height: 4000px;
  max-width: 1080px;
  background: #000000;
  font-family: 'arial', sans-serif;
  font-weight: 400;
  margin: 0 auto;
  }

.container {
  width:80%;
  margin: 0x auto;
}

header {
  width: 1080px;
  margin: 0 auto;
  text-align: center;
  border-color: #56445D;
  border-width: 10px;
  border-style: solid;

  background: #373F51;
  max-height: 220px;
}

header::after{
  content:'';
  display: table;
  clear: both;
}

.logo{
  float:right;
  padding: 10px;
  position: relative;
  left: 210px;
}

nav {
  float: left;
}

nav ul{
  margin: 0;
  padding: 10px;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 20px;
  padding-top: 10px;

  position: relative;
  bottom: 80px;
}

nav a{
  color: #91F291;
  text-decoration: none;
  text-transform: uppercase;
  Font-size: 14px;
}

nav a:hover {
  color: #75DDDD
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #91F291;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 500ms;
}

nav a:hover::before {
  width: 100%;
}

#maintitleproh1 h1{
  font-size: 50px;
  width:500px;
  color: orange;
  margin:0 auto;
  text-align: center;
}


#maintitle p {
  text-align: justify;
  color: white;
}

#maintitle {
  width: 1060px;
  text-align: center;
  color: orange;
  padding: 10px;
  Background-color: #373F51;
  border-color: #56445D;
  border-width: 10px;
  border-style: solid;
}


#maintitle a {
  color: #91F291;
  text-decoration: none;
}

#maintitle a:hover {
  color: #75DDDD;
}

#maintitle a::before {
  content: '';
  display: block;
  background-color: #91F291;
}

/*CSS for agenda-notes-actions.html file starts here*/

.agendah2a {
  position: relative;
  right: 415px;
}

/*Heading for team profile starts here*/
#teamprofile {
  width: 1060px;
  text-align: center;
  color: orange;
  padding: 10px;
  background-color: #373f51;
  border-color: #56445D;
  border-width: 10px;
  border-style: solid;
}

/*Bradleys style sheet section */

#bradprofile a {
  color: #91F291;
  text-decoration: none;
}

#bradprofile a:hover {
  color: #75DDDD;
}

#bradprofile a::before {
  content: '';
  display: block;
  background-color: #91F291;
}

.bradleymain {
  text-align: left;
  width: 1060px;
  color: white;
  padding: 10px;
  background-color: #373f51;
  border-color: #56445D;
  border-width: 10px;
  border-style: solid;
}

#brad01 strong {
  color: orange;
}

#brad01 {
  text-align: justify;
  padding: 10px;
  list-style: none;
  margin-left: 100px;
  float: right;
}

#brad02 {
  margin: 5px;
  float: left;

  position: relative;
  bottom: 310px;
}

#bradp {
  color: orange;
}

#bradprofile {
  width: 0 auto;
  text-align: justify;
  position: relative;
  left: 0px;
}

#bradprofile ul {
  text-align: justify;
  margin-left: 100px; padding: 0;
}

#bradpa1{
  width: 1000px;
  text-align: center;
  position: relative;
  left: 45px;
}

/* Lachlans style sheet section*/

#lachprofile a {
  color: #91F291;
  text-decoration: none;
}

#lachprofile a:hover {
  color: #75DDDD;
}

#lachprofile a::before {
  content: '';
  display: block;
  background-color: #91F291;
}

.lachlanmain {
  width: 1060px;
  color: white;
  padding: 10px;
  background-color: #373f51;
  border-color: #56445D;
  border-width: 10px;
  border-style: solid;
}

#lach01 {
  text-align: justify;
  padding: 10px;
  list-style: none;
  margin-left: 150px;
  float: right;
}

#lach01 strong {
  color: orange;
}

#lach02 {
  margin: 5px;
  float: left;

  position: relative;
  bottom: 355px;
}

#lachprofile {
  width:1020px;
  text-align: justify;
  position: relative;
  left: 15px;
}

#lachpa1 {
  width: 1060px;
  text-align: center;
}

/* Nicholas's style sheet section*/

#nichprofile a {
  color: #91F291;
  text-decoration: none;
}

#nichprofile a:hover {
  color: #75DDDD;
}

#nichprofile a::before {
  content: '';
  display: block;
  background-color: #91F291;
}

.nicholasmain {
  width: 1060px;
  color: white;
  padding: 10px;
  background-color: #373f51;
  border-color: #56445D;
  border-width: 10px;
  border-style: solid;
}

#nich01 {
  text-align: justify;
  padding: 10px;
  list-style: none;
  margin-left: 220px;
  float: right;
}

#nich01 strong {
  color: orange;
}

#nich02 {
  margin: 5px;
  float: left;

  position: relative;
  bottom: 490px;
}

#nichprofile {
  width:1020px;
  text-align: justify;
  position: relative;
  left: 15px;
}

#nichpa1 {
  width: 860px;
  text-align: center;
}

/*Jeremys style sheet section*/

.jeremymain {
  width: 1060px;
  height: 500px;
  color: white;
  padding: 10px;
  background-color: #373f51;
  border-color: #56445D;
  border-width: 10px;
  border-style: solid;
}

#jereprofile a {
  color: #91F291;
  text-decoration: none;
}

#jereprofile a:hover {
  color: #75DDDD;
}

#jereprofile a::before {
  content: '';
  display: block;
  background-color: #91F291;
}

#jere01 {
  text-align: justify;
  padding: 10px;
  list-style: none;
  margin-right: 130px;

position: relative;
left: 130px;
bottom: 120px;

  float: right;
}


#jere01 strong {
  color: orange;
}

#jerepar {
  position: relative;
  top: 150px;
  right: 270px;
}

#jere02 {
  color: black;
  margin: 5px;
  float: right;

  position: relative;
  bottom: 547.5px;
  right: 925px;
}

#jereprofile {
  text-align: justify;
  position: relative;
  right: 100px;
  top: 130px;
}

#jereprofile strong {
  color: orange;
}

#jerepa1 {
  width: 1110px;
  text-align: center;
  position: relative;
  top: 300px;
}

#jerepa1 {
  text-align: center;
}

#jerepar strong {
  color: orange;
}

/*Anthonys style sheet section*/

.anthonymain {
  width: 1060px;
  height: 500px;
  color: white;
  padding: 10px;
  background-color: #373f51;
  border-color: #56445D;
  border-width: 10px;
  border-style: solid;
}

.anthonymain a {
  position: relative;
  top: 420px;
  left: 100px;
}

#anthprofile a {
  color: #91F291;
  text-decoration: none;
}

#anthprofile a:hover {
  color: #75DDDD;
}

#anthprofile a::before {
  content: '';
  display: block;
  background-color: #91F291;
}

#anth01 {
  text-align: justify;
  padding: 10px;
  list-style: none;
  margin-right: 130px;

position: relative;
left: 130px;
bottom: 225px;

  float: right;
}


#anth01 strong {
  color: orange;
}


#anth02 {
  color: black;
  margin: 5px;
  float: right;

  position: relative;
  bottom: 547.5px;
  right: 925px;
}


/*Jacobs profile starts here*/

.jacobmain {
  width: 1060px;
  height: 500px;
  color: white;
  padding: 10px;
  background-color: #373f51;
  border-color: #56445D;
  border-width: 10px;
  border-style: solid;
}

.jacobmain a {
  position: relative;
  top: 330px;
  left: 75px;
}

#jacoprofile a {
  color: #91F291;
  text-decoration: none;
}

#jacoprofile a:hover {
  color: #75DDDD;
}

#jacoprofile a::before {
  content: '';
  display: block;
  background-color: #91F291;
}

#jaco01 {
  text-align: justify;
  padding: 10px;
  list-style: none;
  margin-right: 130px;

position: relative;
left: 130px;
bottom: 360px;

  float: right;
}

#jaco01 strong {
  color: orange;
}


#jaco02 {
  color: black;
  margin: 5px;
  float: right;

  position: relative;
  bottom: 547.5px;
  right: 1100px;
}


/*CSS for idealjobs.html starts here*/

#jobmain {
  width: 1060px;
  text-align: Justify;
  color: white;
  padding: 10px;
  Background-color: #373F51;
  border-color: #56445D;
  border-width: 10px;
  border-style: solid;
}


#jobmain h1 {
  font-size: 50px;
  width:500px;
  color: orange;
  margin:0 auto;
  text-align: center;

}

#jobmain h2 {
  width:500px;
  color: orange;
  margin:0 auto;
  text-align: center;

}

#jobmain h3 {
  width:500px;
  color: orange;
  margin:0 auto;
  text-align: center;

}

#jobmain img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}


/*CSS for industrydata.html starts here*/

#indumain {
  width: 1060px;
  text-align: Justify;
  color: white;
  padding: 10px;
  Background-color: #373F51;
  border-color: #56445D;
  border-width: 10px;
  border-style: solid;
}


#indumain h1 {
  font-size: 50px;
  width:800px;
  color: orange;
  margin:0 auto;
  text-align: center;

}

#indumain h2 {
  width:500px;
  color: orange;
  margin:0 auto;
  text-align: center;

}

#indumain h3 {
  width:500px;
  color: orange;
  margin:0 auto;
  text-align: center;

}


#indumain img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}


/*CSS for itwork.html starts here*/

#ith1 {
  color: orange;
  position: relative;
  right: 425px;
}

#itmain {
  width: 1060px;
  text-align: Justify;
  color: white;
  padding: 10px;
  Background-color: #373F51;
  border-color: #56445D;
  border-width: 10px;
  border-style: solid;
}

#itworkbody {
  display: flex;
}

#itworktext {
  width: 85%;
}

#itworkimages {
  width: 15%;
  margin-left: 10px;
}

#itworkimages img {
  display: block;
  margin-top: 80px;
  margin-bottom: 150px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

#itworklinks {
  text-align: center;
  font-size: 12px;
}


/*CSS for ittechnologies.html starts here*/

#techmain {
  width: 1060px;
  text-align: Justify;
  color: white;
  padding: 10px;
  Background-color: #373F51;
  border-color: #56445D;
  border-width: 10px;
  border-style: solid;
}


#techmain h1 {
  font-size: 50px;
  width:500px;
  color: orange;
  margin:0 auto;
  text-align: center;

}

#techmain h2 {
  width:500px;
  color: orange;
  margin:0 auto;
  text-align: center;

}

#techmain h3 {
  width:500px;
  color: orange;
  margin:0 auto;
  text-align: center;

}

/*CSS for autocars.html starts here*/


#automain {
  width: 1060px;
  text-align: Justify;
  color: white;
  padding: 10px;
  Background-color: #373F51;
  border-color: #56445D;
  border-width: 10px;
  border-style: solid;
}


#automain h1 {
  font-size: 50px;
  width:1000px;
  color: orange;
  margin:0 auto;
  text-align: center;

}

#automain h2 {
  width:500px;
  color: orange;
  margin:0 auto;
  text-align: center;

}

#automain h3 {
  width:500px;
  color: orange;
  margin:0 auto;
  text-align: center;

}

#automain img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

  /*CSS for projectideas.html starts here*/


#projmain {
    width: 1060px;
    text-align: Justify;
    color: white;
    padding: 10px;
    Background-color: #373F51;
    border-color: #56445D;
    border-width: 10px;
    border-style: solid;
  }


  #projmain h1 {
    font-size: 50px;
    width:500px;
    color: orange;
    margin:0 auto;
    text-align: center;

  }

  #projmain h2 {
    width:500px;
    color: orange;
    margin:0 auto;
    text-align: center;

  }

  #projmain h3 {
    width:500px;
    color: orange;
    margin:0 auto;
    text-align: center;

  }

  #projmain li {
    color: orange;

  }

/*CSS for agenda-notes-actions.html starts here*/

#linkformat a {
  color: #91F291;
  text-decoration: none;
}

#linkformat a:hover {
  color: #75DDDD;
}

#linkformat a::before {
  content: '';
  display: block;
  background-color: #91F291;
}

#linkformat ul {
  list-style: none;
}

/*CSS for tools.html starts here*/

.workflowadj1 {
  Width: 1000px;
  text-align: center;
}

.workflowadj1 h2{
  width: 1060px;
  text-align: center;
}


/*CSS for Cybercrime starts here */

#crimemain {
  width: 1060px;
  text-align: Justify;
  color: white;
  padding: 10px;
  Background-color: #373F51;
  border-color: #56445D;
  border-width: 10px;
  border-style: solid;
}


#crimemain  h1 {
  font-size: 50px;
  width:500px;
  color: orange;
  margin:0 auto;
  text-align: center;

}

#crimemain  h2 {
  width:500px;
  color: orange;
  margin:0 auto;
  text-align: center;

}

#crimemain  h3 {
  width:500px;
  color: orange;
  margin:0 auto;
  text-align: center;
}

#crimemain  a {
  display: inline-block;
}
